services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Acme\Bundle\CustomerNotesBundle\Controller\:
        resource: '../../Controller/*'
        tags: ['controller.service_arguments']
